---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Collaborators - BEST Training Weekend'>
	<main>
		<h1 id='collaborators'>Collaborators</h1>

		<div class='row-list'>
			<a href='https://www.wonderlandcluj.ro/'><img src='/corporate/Wonderland.png' width='300' alt='Wonderland Cluj Resort' style='background: white; padding: 20px;' /></a>
			<a href='https://vmaxcluj.ro/'><img src='/corporate/Vmax.png' width='300' alt='VMax Karting' /></a>
			<a href='https://www.facebook.com/GOKARTCLUJNAPOCA/'><img src='/corporate/GoCart.png' width='300' alt='Go Kart Cluj-Napoca' /></a>
			<a href='https://www.cutandcrust.ro/'><img src='/corporate/CutCrust.png' width='300' alt='Pizza Cut & Crust Cluj-Napoca' /></a>
			<a href='http://donuterie.ro/'><img src='/corporate/Donuterie.png' width='300' alt='Donuterie' /></a>
			<a href='https://www.teatrulnationalcluj.ro/'><img src='/corporate/Teatru.png' width='300' alt='Teatrul National Cluj-Napoca' /></a>
			<a href='https://www.squashcluj.ro/'><img src='/corporate/squash.jpg' width='300' alt='Squash Cluj Cluj-Napoca' /></a>
			<a href='https://thedungeon.ro/'><img src='/corporate/TheDungeon.png' width='300' alt='The Dungeon' style='background: white;' /></a>
		</div>
	</main>
</Layout>

<style>
	main {
		text-align: center;
		max-width: unset;
	}

	.row-list {
		justify-content: center;
		align-items: center;
		gap: 3em
	}
</style>
