---
import ContactCard from '../components/ContactCard.tsx';

import Layout from '../layouts/Layout.astro';
---

<Layout title='Contact - BEST Training Weekend'>
	<main>

	<h1 id='contact'>Contact</h1>

	<div class='row-list'>
		<ContactCard name="Mara Meseșan" role="Main Organizer" email="mara.mesesan@best-eu.org" tel="+40 761 847 612" />
		<ContactCard name="Samuel Gherasim" role="President of BEST Cluj-Napoca" email="teodor-samuel.gherasim@best-eu.org" tel="+40 753 330 512" />
	</div>

	<h1 id='core-team'>Core Team</h1>

	<div class='row-list'>
		<ContactCard name="Alexia Iliescu" role="Public Relations Responsible" email="alexia.iliescu@best-eu.org" tel="+40 755 371 901" />
		<ContactCard name="Denisa Căruntu" role="Academic Responsible" email="" tel="+40 752 250 056" />
		<ContactCard name="Eveline Buta" role="How To Start-up Responsible" email="eveline.buta@best-eu.org" tel="+40 756 571 579" />
		<ContactCard name="Ioan Dragomir" role="Design Responsible" email="ioan.dragomir@best-eu.org" tel="+40 770 407 932" />
		<ContactCard name="Letizia Dall'Ara" role="Corporate Relations Responsible" email="letizia.dall.ara@best-eu.org" tel="+40 735 785 801" />
		<ContactCard name="Mara Meseșan" role="Main Organizer" email="mara.mesesan@best-eu.org" tel="+40 761 847 612" />
		<ContactCard name="Raul Muntean" role="IT Responsible" email="" tel="+40 731 672 372" />
	</div>

	</main>
</Layout>

<style>
main {
	max-width: 150ch;
}

h1 {
	text-align: center;
}
</style>