@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

@font-face {
	font-family: 'Nexa Rust Sans Black';
	src: url('/NexaRustSans-Black.otf');
}

body {
	background: #1b1220 !important; /* for some reason, /hts also includes collaborators.css ????? need to override that */
}

main {
	font-family: Poppins, sans-serif;
	font-weight: 400;
}

#first-section {
	position: relative;
	box-sizing: border-box;
	min-height: 100vh;
	text-align: center;

	/* Prevent overlap with leaves */
	padding-bottom: calc(min(10vw, 200px));
	margin-bottom: calc(min(10vw, 200px));

	color: #eeb595;
	font-weight: 500;

	background: url('/hts-twinkle.png');
	background-position-y: calc(100vh - calc(min(100vw, 1500px)) * 0.3);
	background-position-x: center;
	background-size: calc(min(100vw, 1500px));
	background-repeat: no-repeat;

	padding-top: 30vh;
}

#logos {
	position: absolute;
	top: 100px;
	left: 50%; transform: translateX(-50%);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	gap: 10em;

	margin: auto;
}

#logos img {
	flex-shrink: 1;
}

#first-section em {
	color: #ee7f7f;
	font-style: unset;
}

h1 {
	font-family: 'Nexa Rust Sans Black', 'Rubik', sans-serif;
}

#first-section h1 {
	font-size: 4rem;
	font-weight: bold;
}

#first-section h2 {
	font-size: 2rem;
	margin: unset;
}

@media screen and (max-width: 60rem) {
	#first-section h1 {
		font-size: 2rem;
	}

	#first-section h2 {
		font-size: 1.5rem;
	}
}

#leaves-left, #leaves-right {
	position: absolute;
	pointer-events: none;
	z-index: 1;
}

#leaves-left {
	left: 0; bottom: calc(min(40vw, 600px) * -0.3);
	width: 40vw; max-width: 600px;
}

#leaves-right {
	right: 0; bottom: calc(min(40vw, 600px) * -0.3);
	width: 40vw; max-width: 600px;
}


.cratima-vietii {
	font-family: Rubik;	
}
