---
import Gallery from '../components/Gallery.tsx';
import Speaker from '../components/Speaker.tsx';
import Layout from '../layouts/Layout.astro';
---

<Layout title='How To Start-up'>
	<div id='first-section'>
		<div id="logos">
			<a href='https://bestcj.ro'><img src="/BESTCJ_signature-hts.png" alt="BEST Cluj-Napoca logo" height="100" /></a>
			<a href='https://utcluj.ro'><img src="/UT_Logo-hts.png" alt="Technical University of Cluj-Napoca logo" height="100" /></a>
		</div>
		<h1>HOW TO START<span class='cratima-vietii'>-</span>UP</h1>
		<h2><em>9 Decembrie</em>, ora <em>16:00</em></h2>
		<h2><a href="https://goo.gl/maps/MKMRF2eEGbCtvk8T7" target="_blank">Tech'n Trade</a></h2>
		<br/><br/>
		<h2><a href=''>Înscrie-te!</a></h2>
		<img id="leaves-left" src="/hts-leaves-left.png" />
		<img id="leaves-right" src="/hts-leaves-right.png" />
	</div>

	<main>
		<h1 id='ce-este-hts'>Ce este How To Start<span class='cratima-vietii'>-</span>up?</h1>

		<p>"How to Start-up" este un eveniment dedicat atât studenților, cât și celor care își doresc să afle mai multe despre ce înseamnă cu adevărat un start-up și să descopere care este calea către succes. Dorința noastră este de a le oferi oamenilor cunoștințele necesare cu privire la acest subiect, dar și de a îi încuraja, determinându-i  să își împlinească visurile.</p>

		<p>Alături de noi se vor afla oameni de succes care ne vor împărtăși pașii de la idee la implementare și motivația din spatele inițiativei lor.</p>

		<h1 id='speakers'>Speakers</h1>

		<div class='row-list'>
			<Speaker name="Adrian Florian" profession="Wolfpack Digital">
				<p>Wolfpack Digital este o companie de software din Cluj-Napoca, care de 7 ani creează aplicații mobile și web de mare succes. Pentru a ne prezenta tot parcursul acestei companii, și cum și-a găsit calea spre succes, ni se va alătura Adrian Florian, CTO și co-owner la Wolfpack Digital.</p>

				<p>Adrian are o carieră de peste 12 ani în IT, fiind full stack developer. Acesta are multă experiență în ceea ce privește start-up-urile, fiind în trecut și Product Lead la AutoUncle, o companie daneză căreia i s-a alăturat când echipa era constituită doar din 2 oameni.</p>

				<p>Locuind în Danemarca aproximativ 4 ani, acesta a preluat multe principii frumoase de acolo, pe care le-a integrat în etica lui de munca, motiv pentru care are foarte multe povești interesante să ne spună. Nu rata șansa de afla cum a descoperit Adrian succesul, și haide alături de noi la How to Start-up pentru a-l asculta împreună. </p>
			</Speaker>

			<Speaker name="Andrei Ursachi" profession="Stailer">
				<p>Cu toții am auzit de Stailer, sau așa zisul asistent personal de înfrumusețare, care ne oferă posibilitatea de a ne programa la saloane noi doar printr-un simplu click. Omul din spatele ideii, Andrei Ursachi, vă oferă ocazia de a vă împărtăși experiența sa, tot parcursul lui de la idee până la implementare. </p>
				<p>Acesta spune că antreprenoriatul pentru el reprezintă o mare pasiune, iar obstacolele pe care le întâmpină fac parte din călătoria sa către succes. Observând un trend puternic în zona de digitalizare în ultima perioadă, Andrei a identificat o oportunitate pentru a dezvolta o nouă afacere în industria de beauty. Așa a luat naștere Stailer, un start-up co-fondat de Andrei, în care se regăsesc peste 100 de saloane de înfrumusețare din cele mai dezvoltate orașe ale României precum București, Constanța, Brașov, Cluj-Napoca, Sibiu, Oradea, Timișoara și Iași. </p>
				<p>Pentru a afla mai multe detalii care te-ar putea ajuta chiar pe tine să îți realizezi propriul Start-Up te așteptăm la evenimentul nostru pentru a asculta împreună povestea lui Andrei Ursachi.</p>
			</Speaker>

			<Speaker name="Marius Popa" profession="Școala de muzica the beat">
				<p>Studioul The Beat este o școala de muzică înființată în anul 2012 de către Marius Popa cu scopul de a promova arta, creativitatea și învățarea muzicii prin metode de predare nonformale. 
Pasionat de muzică încă de la 3 ani, fondatorul școlii de muzică îi îndrumă și îi motivează zilnic copii care au aceeași pasiune ca și el, participând cu ei la diferite spectacole și concursuri. Acesta susține că proiectul s-a născut din dorința sa de ai învăța pe copii frumusețea muzicii și a instrumentelor muzicale.</p>

				<p>Pentru a afla mai multe despre tot ce implică crearea unei afaceri de succes te invitam la How to start-up să afli toata povestea lui Marius Popa.</p>
			</Speaker>
		</div>
	</main>
</Layout>

<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

@font-face {
	font-family: 'Nexa Rust Sans Black';
	src: url('/NexaRustSans-Black.otf');
}

body {
	background: #1b1220 !important; /* for some reason, /hts also includes collaborators.css ????? need to override that */
}

main {
	font-family: Poppins, sans-serif;
	font-weight: 400;
}

#first-section {
	position: relative;
	box-sizing: border-box;
	min-height: 100vh;
	text-align: center;

	/* Prevent overlap with leaves */
	padding-bottom: calc(min(10vw, 200px));
	margin-bottom: calc(min(10vw, 200px));

	color: #eeb595;
	font-weight: 500;

	background: url('/hts-twinkle.png');
	background-position-y: calc(100vh - calc(min(100vw, 1500px)) * 0.3);
	background-position-x: center;
	background-size: calc(min(100vw, 1500px));
	background-repeat: no-repeat;

	padding-top: 80px;
}

#logos {
	top: 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	gap: calc(min(10em, 10vw));
	width: 100%;

	margin: auto;
}

#logos img {
	flex-shrink: 1;
	max-height: 20vw;
}

#first-section em {
	color: #ee7f7f;
	font-style: unset;
}

h1 {
	font-family: 'Nexa Rust Sans Black', 'Rubik', sans-serif;
}

#first-section h1 {
	margin-top: 20vh;
	font-size: 4rem;
	font-weight: bold;
}

#first-section h2 {
	font-size: 2rem;
	margin: unset;
}

@media screen and (max-width: 60rem) {
	#first-section h1 {
		font-size: 2rem;
	}

	#first-section h2 {
		font-size: 1.5rem;
	}
}

#leaves-left, #leaves-right {
	position: absolute;
	pointer-events: none;
	z-index: 1;
}

#leaves-left {
	left: 0; bottom: calc(min(40vw, 600px) * -0.3);
	width: 40vw; max-width: 600px;
}

#leaves-right {
	right: 0; bottom: calc(min(40vw, 600px) * -0.3);
	width: 40vw; max-width: 600px;
}


.cratima-vietii {
	font-family: Rubik;	
}
</style>
