---
import BTWFirstSection from '../components/BTWFirstSection.tsx';
import Gallery from '../components/Gallery.tsx';
import ScheduleItem from '../components/ScheduleItem.tsx';
import Layout from '../layouts/Layout.astro';
---

<Layout title='BEST Training Weekend'>
	<BTWFirstSection />

	<main>
		<h1 id='ce-este-btw'>Ce este BTW?</h1>

		<p>Un weekend în care poți participa la traininguri gratuite, organizate special pentru studenți și gândite în așa fel încât să se plieze perfect pe dorințele și nevoile voastre.</p>

		<p>În cadrul evenimentului nostru poți să întâlnești cei mai tari oameni care sunt gata să își împărtășească cunoștințele cu tine prin traininguri menite să te ajute atât pe partea de dezvoltare personală, cât și profesională.</p>

		<p>Dacă vrei să faci un pas înainte și să fii mai aproape de ceea ce iți dorești să devii, nu rata evenimentul nostru care va avea loc în 10-11 Decembrie 2022.</p>

		<h1 id='galerie'>Galerie</h1>

		<Gallery>
			<img src="/gal/1.jpeg" height="250" />
			<img src="/gal/2.jpeg" height="250" />
			<img src="/gal/3.jpeg" height="250" />
			<img src="/gal/4.jpeg" height="250" />
			<img src="/gal/5.jpeg" height="250" />
			<img src="/gal/6.jpeg" height="250" />
			<img src="/gal/7.jpeg" height="250" />
			<img src="/gal/8.jpeg" height="250" />
			<img src="/gal/9.jpeg" height="250" />
			<img src="/gal/10.jpeg" height="250" />
		</Gallery>

		<h1>Orar Sâmbătă, 10 Decembrie</h2>

		<ScheduleItem name="Dan Mocan" company="X2 Mobile" interval="12:00 - 14:00" topic="Conflict Management">
			<p>Dan Mocan ne va încânta cu un training bazat pe conflict management și munca în echipă. Acesta se descrie ca fiind un om pasionat de progres și de provocări fie că vine vorba de business, sport sau viață în general.</p>

			<p>Trainerul nostru este un student avid pentru psihologie și sport, totodată făcând parte și din conducerea X2 Mobile și The Box Barbell Club.</p>

			<p>Acesta crede foarte mult în colaborare și consideră că doar împreună putem să atingem obiective cu adevărat valoroase. Pornind de la aceasta idee, ne propune să avem o discuție deschisă despre conflicte, să identificăm care ar putea fi beneficiile lor și cum putem ajunge mai ușor la aceste beneficii. </p>
		</ScheduleItem>

		<ScheduleItem name="Claudia Pop" company="Nagarro" interval="14:00 - 15:30" topic="About Git">
			<p>De câte ori a trebuit să încărcați un proiect pe Git și ați avut probleme sau nu ați știut cum să o faceți? Ei bine, Claudia Pop vine în ajutorul vostru, pentru a vă învăța tot ceea ce trebuie să știți despre acest tool, care este foarte folosit, mai ales în domeniul IT.</p>

			<p>Trainerul nostru absolventă a Facultății de Matematică și Informatică, secția Informatică Engleză, din cadrul Universității Babeș-Bolyai. Aceasta este software developer la Nagarro, dar în același timp și mentor de C# la programele de învățare pe care Nagarro le oferă.</p>

			<p>La acest training vom învăța ce este mai exact Git-ul, cum lucrează, dar și cateva basic commands. Claudia dorește să facem împreună și un exercițiu, pentru a introduce o parte practică, motiv pentru care vă rugăm să vă aduceți un laptop și să instalați înainte de training Git-ul, pe care îl puteți lua de aici: <a href='https://git-scm.com/downloads'>https://git-scm.com/downloads</a>.</p>
		</ScheduleItem>

		<ScheduleItem name="Bogdan Teodorescu" company="ROSPIN" interval="16:30 - 18:00" topic="Orbital mechanics">
			În prezent are mai multe activități profesionale și academice: este fondator și mentor Astronomy Hub, facilitator la Rubik School și SpacedIn, colaborator al Academy of Arts, și nu în ultimul rând, student al Facultății de Fizică din cadrul Universității Babeș-Bolyai. Bogdan este pasionat de astronomie și astrofizică și isi doreste să isi construiasca o carieră în cercetare și educație.
		</ScheduleItem>

		<ScheduleItem name="Ștefana Belbe" company="Endava" interval="18:00 - 20:00" topic="SquAD BERT - Document Digitization and Information Extraction Automation">
			<p>Ștefana Belbe este o studentă la doctorat în domeniul Ciberneticii și al Statisticii, cu foarte multă experiență în multe domenii tehnice, precum în aplicații NLP, software development, analiza și vizualizarea datelor geospațiale, și multe altele.</p>

			<p>Aceasta ne va prezenta o tehnologie care are capacitatea de a extrage informații esențiale din documentele legale de mari dimensiuni și de a răspunde automat unor întrebări pe baza acestuia. De asemenea, ea va face și o demonstrație live al acestui software în care va explica pas cu pas cum funcționează.</p>

			<p>Ștefana afirmă că o încântă foarte tare ideea de a face parte din acest sistem care propagă progresele tehnologiilor, motiv pentru care va și susține trainingul. Așa că vă invităm pe toți să participați la prezentarea ei din cadrul BEST Training Weekend!</p>
		</ScheduleItem>

		<h1>Orar Duminică, 11 Decembrie</h2>

		<ScheduleItem name="Vlad Guluță" company="" interval="18:00 - 20:00" topic="Mecanisme de coping sanatoase si comunicarea eficienta">
			<p>Două dintre cauzele multor probleme contemporane sunt anxietatea și lipsa comunicării. Ce putem face ca să scăpăm de acestea? Ei bine, vă așteptam la un training care ne va ajuta să găsim răspunsul la întrebare, unde Vlad Guluță ne va prezenta mecanisme de coping sănătoase și comunicarea eficientă.</p>

			<p>Vlad este absolvent al Facultății de Psihologie și Științe ale Educației, secția Psihologie. Pe parcursul anilor s-a implicat în foarte multe proiecte de voluntariat, precum coordonarea unor activități de integrare în mediul universitar pentru studenții, consiliere vocațională, dar a participat și  în proiecte de implementare a unor activități de dezvoltare emoțională în Africa.</p>

			<p>Acest training se anunță a fi unul de la care nimeni nu și-ar dori să lipsească, așa că nu fi tu cel care o face și haide la BEST Training Weekend!</p>
		</ScheduleItem>

		<ScheduleItem name="Răzvan-Alin Cojocaru" company="AIESEC" interval="15:00 - 17:00" topic="Leadership">
			<p>Răzvan Cojocaru ne va arata însemnătatea cuvantului “leadership” și asociația acestuia cu responsabilitatea. Fost membru al asociației AIESEC, trainerul nostru consideră că diversele experiențe și proiecte la care a participat l-au antrenat înspre o comunicare eficientă cu coechipierii și înspre a-și însuma simțul responsabilității.</p>
   
		    <p>Dacă ești curios să afli modul diferit prin care leadership-ul este aplicat în mediul facultății față de cel exercitat la locul de muncă sau să observi perspectiva și așteptările pe care coordonatorii sau managerii le au de la o echipă te așteptăm să le descoperim împreuna.</p>
		</ScheduleItem>

		<ScheduleItem name="Ana Rednic" company="Capgemini Engineering" interval="13:00 - 15:00" topic="Arduino">
			<p>V-ați gândit vreodată cât de ușor poate fi să creați un sistem care hrănește animalul de companie sau un robot care evită obstacole folosind doar un Arduino și câteva componente? De la un sistem de monitorizare a parametrilor din aer până la roboți de ghidaj, orice este realizabil cu puțină motivație și răbdare. Haideți să descoperim împreună cât de satisfăcător este să construim ceva util din componente hardware și un Arduino.</p>
		</ScheduleItem>
	</main>
</Layout>
