#first-section {
	position: relative;
	box-sizing: border-box;
	min-height: 100vh;
	text-align: center;

	background: linear-gradient(180deg, #47BCEB 35.23%, #DAF4FF 100%);
	color: black;

	/* Prevent overlap with leaves */
	padding-bottom: calc(min(10vw, 100px));
	margin-bottom: calc(min(10vw, 100px));
	padding-top: 30vh;
}

#logos {
	position: absolute;
	top: 100px;
	left: 50%; transform: translateX(-50%);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	gap: 10em;

	margin: auto;
}

#logos img {
	flex-shrink: 1;
}

#first-section h1, #first-section h2 {
	margin: 0;
	z-index: 2;
}

#first-section h1 {
	font-size: 3rem;
	font-weight: 700;
}

#first-section h2 {
	font-size: 2.25rem;
}

#subtitle {
	margin-bottom: 3.5rem;
}

@media screen and (max-width: 100ch) {
	#first-section h1, #first-section h2 {
		font-size: 2rem;
	}
}

#leaves-left, #leaves-right {
	position: absolute;
	pointer-events: none;
	z-index: 1;
}

#leaves-left {
	left: 0; bottom: calc(min(60vw, 500px) * -0.3);
	width: 60vw; max-width: 500px;
}

#leaves-right {
	right: 0; bottom: calc(min(60vw, 400px) * -0.6);
	width: 60vw; max-width: 400px;
}

#color-change {
	position: absolute;
	bottom: -24px; height: 24px; width: 100%;
	background: linear-gradient(180deg, #DAF4FF 0%, #161A29 100%);
}
