---
export interface Props {
	title: string;
}

const { title } = Astro.props;

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Rubik:wght@500&display=swap" rel="stylesheet" />
	</head>
	<body>
		<nav>
			<a href="/"><img src="BTW-white-small.png" height="64" alt="BEST Training Weekend" /></a>

			<label id="sidebar-toggle" for="sidebar-toggle-state" role="button"><img src="menu-toggle.svg" alt="Open sidebar menu" /></label>
			<input type="checkbox" id="sidebar-toggle-state" />
			<ul id="nav-list">
				<li><a href="/hts">How To Startup</a></li>
				<li><a href="/trainers">Traineri</a></li>
				<li><a href="/sponsors">Sponsori</a></li>
				<li><a href="https://bestcj.ro/">BEST</a></li>
				<li><a href="https://bestcj.ro/3-5-percent-program/">Program 3.5%</a></li>
				<li><a href="/contanct">Contact</a></li>
			</ul>
			<label for="sidebar-toggle-state" id="sidebar-backdrop"></label>
		</nav>

		<slot />
	</body>
</html>

<style>
body {
	margin: 0;
	font-family: "Nunito Sans", sans-serif;
}

nav {
	position: sticky;
	left: 0; top: 0; right: 0; height: 64px;
	background: rgba(0, 0, 0, 0.7);
	
	color: white;

	overflow-x: clip;
	overflow-y: visible;
}

nav a {
	text-decoration: none;
}

nav img {
	line-height: 100%;
	vertical-align: middle;
	margin: 4px;
	height: 56px;
}

#sidebar-toggle-state {
	display: none;
}

#nav-list {
	padding: 0;
	list-style: none;

	float: right;
	margin: 0;
	height: 64px; line-height: 64px;
	vertical-align: middle;

	display: flex;

	z-index: 2;
}

#nav-list li {
	height: 64px; line-height: 64px;
	margin: 0 16px;
}

#sidebar-toggle {
	display: none;
	float: right;
	cursor: pointer;
}

#sidebar-toggle img {
	margin: 16px;
	height: 32px;
}

#sidebar-backdrop {
	display: none;
	position: absolute;
	left: 0; top: 0; width: 100vw; height: 100vh;
	background: rgba(0, 0, 0, 0.5);

	z-index: 1;
}

@media screen and (min-width: 100ch) {
	nav a {
		color: white;
	}
}

@media screen and (max-width: 100ch) {
	#nav-list {
		position: absolute;
		top: 0; left: 100vw; width: 20em; height: 100vh;
		max-width: 80vw;
		background: white;

		flex-direction: column;

		transition: transform 200ms;
	}

	nav a {
		color: black;
	}

	#sidebar-toggle {
		display: initial;
	}

	#sidebar-toggle-state:checked ~ #nav-list,
	#nav-list:focus-within {
		transform: translateX(-100%);
		box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.7);
	}

	#sidebar-toggle-state:checked ~ #sidebar-backdrop,
	#nav-list:focus-within ~ #sidebar-backdrop {
		display: block;
	}
}
</style>
